/* General Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

:root {
  --vw_width: 99vw;
  --vh_height: 100vh;
}

/* Video Container */
.video_container {
  width: var(--vw_width);
  height: var(--vh_height);
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: -1;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.first_section {
  border: 2px solid black;
  border-radius: 25px;
  overflow: hidden;
}
/* Sidebar */
.sidebar {
  height: 100vh;
  width: 15%; /* Responsive width for larger screens */
  max-width: 300px; /* Prevents it from being too wide */
  background: rgba(0, 0, 0, 0.1); /* Subtle dark frosted effect */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0 15px 15px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: -100vw; /* Initially hidden */
  transition: all 0.4s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.user_top img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.user_top h2 {
  margin: 0;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.sidebar.active {
  left: 0;
}

.sidebar nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  width: 100%;
}

.sidebar nav ul li a {
  display: block;
  padding: 15px 60px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin: 5px 20px;
  position: relative;
}

.sidebar nav ul li a:hover {
  background: rgba(255, 255, 255, 0.15); /* Subtle hover background */
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); /* Minimal shadow on hover */
}

.donate-button {
  margin-top: auto;
  margin-bottom: 20px;
  padding: 10px 25px;
  background: rgba(255, 255, 255, 0.1); /* Matches sidebar background */
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.donate-button:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.2); /* Slightly brighter hover effect */
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); /* Subtle glow effect */
}

/* Sidebar Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: #ffffff;
  font-size: 30px;
  border: none;
  cursor: pointer;
  z-index: 2000;
  transition: transform 0.3s ease;
}

.close-btn:hover {
  transform: scale(1.1);
}

/* Sidebar Toggle Button (>) */
.toggle-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  z-index: 400;
}

.toggle-btn:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #000;
}

/* Overlay Content */
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  width: var(--vw_width);
  height: var(--vh_height);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  overflow: hidden;
}

.overlay h1 {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.25rem;
  text-transform: capitalize;
}
.subheading {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100vw;
  }
}

/* GALLERY BUTTON */
.button-container {
  text-align: center;
  padding-top: 20px;
}

.gallery-btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; /* Text color */
  background-color: transparent; /* No background color initially */
  border: 2px solid #fff; /* White border */
  border-radius: 5px;
  transition: all 0.5s ease; /* Smooth transition for hover effect */
}
.gallery-btn:hover {
  background-color: #fff; /* White background when hovered */
  color: black; /* Text color becomes transparent */
  border-color: #fff; /* Border remains white */
}

/* GALLERY SECTION 123*/

.gallery_container {
  position: relative; /* Establishes a positioning context for pseudo-elements */
  height: 100vh;
  width: 99vw;
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dle5gmw0f/image/upload/v1732688614/gallery4_zrjunc.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Makes the background image fixed */
  color: #fff; /* White text for contrast */
  border: 2px solid black;
  border-radius: 25px;
  overflow: hidden;
}

/* Overlay to Enhance Readability */
.gallery_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25); /* Semi-transparent overlay */
  backdrop-filter: blur(2px);

  z-index: 1;
}

/* Content Positioning */
.gallery_container > * {
  position: relative;
  z-index: 2; /* Ensures content is above the overlay */
}

.section-title {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
}
.results {
  display: flex;
  width: calc(80% - 2rem);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.result {
  padding: 0;
}

.results .result img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.2s ease;
}

ul:is(:hover, :focus-within) img {
  opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
  filter: grayscale(calc(1 - var(--active-lerp, 0)));
}

:root {
  --lerp-0: 1;
  --lerp-1: 0.5787037;
  --lerp-2: 0.2962963;
  --lerp-3: 0.125;
  --lerp-4: 0.037037;
  --lerp-5: 0.0046296;
  --lerp-6: 0;
}

.result {
  flex: calc(0.1 + (var(--active-lerp, 0) * 1));
  transition: flex 0.2s ease;
}

.result:is(:hover, :focus-within) {
  --active-lerp: var(--lerp-0);
  z-index: 7;
}
.result:has(+ .result:is(:hover, :focus-within)),
.result:is(:hover, :focus-within) + .result {
  --active-lerp: var(--lerp-1);
  z-index: 6;
}
.result:has(+ .result + .result:is(:hover, :focus-within)),
.result:is(:hover, :focus-within) + .result + .result {
  --active-lerp: var(--lerp-2);
  z-index: 5;
}
.result:has(+ .result + .result + .result:is(:hover, :focus-within)),
.result:is(:hover, :focus-within) + .result + .result + .result {
  --active-lerp: var(--lerp-3);
  z-index: 4;
}
.result:has(+ .result + .result + .result + .result:is(:hover, :focus-within)),
.result:is(:hover, :focus-within) + .result + .result + .result + .result {
  --active-lerp: var(--lerp-4);
  z-index: 3;
}
.result:has(
    + .result + .result + .result + .result + .result:is(:hover, :focus-within)
  ),
.result:is(:hover, :focus-within)
  + .result
  + .result
  + .result
  + .result
  + .result {
  --active-lerp: var(--lerp-5);
  z-index: 2;
}
.result:has(
    + .result
      + .result
      + .result
      + .result
      + .result
      + .result:is(:hover, :focus-within)
  ),
.result:is(:hover, :focus-within)
  + .result
  + .result
  + .result
  + .result
  + .result
  + .result {
  --active-lerp: var(--lerp-6);
  z-index: 1;
}
/* MOBILEGALLERY123 */
.phone_gallery {
  border: 2px solid rgba(255, 255, 255, 0.3);
  width: 97vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 12px;
}

.image_container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.image_container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.grid_image {
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease, transform 0.2s ease;
  object-fit: cover;
}

.grid_image:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

/* Modal Styling */
.modal_container {
  border: none;
  background: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  height: 100vh;
  width: 95vw;
  margin: 0px;
  display: none;
  z-index: 500;
  position: absolute;
}

.modal {
  margin-top: 4rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  padding: 1rem;
  color: #fff;
  border: 2px solid white;
}

.centerer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.view_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cross {
  position: absolute;
  top: 0rem;
  left: 20.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.view_image_container {
  margin: 0px 20px;
  width: 100%;
  height: 371px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.view_image {
  height: 100%;
  transition: transform 0.3s ease;
}

.view_image:hover {
  transform: scale(1.1);
}

.all_image_container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  height: 80px;
  overflow: auto;
  scroll-behavior: smooth;
  gap: 0.5rem;
}

.modal_image_container img {
  object-fit: cover;
  opacity: 0.5;
  height: 80px;
  border-radius: 8px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal_image_container img.selected {
  opacity: 1;
  transform: scale(1.1);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.modal_image_container img:hover {
  opacity: 0.7;
  transform: scale(1.05);
}
