
{% include "header.html" %}

  <div class="untree_co-section pb-0" id="home-section">
    <div class="container">
      <div class="row justify-content-center text-center">
          <div class="col-md-7">
            <h1 class="heading gsap-reveal-hero mb-3"><strong>Welcome User</strong></h1>
            <h2 class="subheading gsap-reveal-hero mb-4">
              <b>Explore the world of artistry through my minimalistic and expressive creations. Dive into a journey of imagination and emotion.</b>
            </h2>
            <p class="gsap-reveal-hero"><b>Discover the essence of my artistic vision.</b></p>
          </div>
      </div>
    </div>
  </div>


  <div class="untree_co-section untree_co-section-4 pb-0"  id="portfolio-section">
    <div class="container">
      <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
      <div id="portfolio-single-holder"></div>

      <div class="portfolio-wrapper">

        <div id="posts" class="row">
          {% for i in range(1,13) %}
            <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
              <a href="portfolio-single-1.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="1">
                <div class="overlay">
                  <span class="wrap-icon icon-link2"></span>
                  <div class="portfolio-item-content">
                    <h3>{{text_list[i-1]}}</h3>
                  </div>
                </div>
                <img src="../static/images/img_{{i}}.jpg" class="lazyload  img-fluid" alt="Images" />
              </a>
            </div>
          {% endfor %}
        </div>
      </div>


        <!-- </div>
        </div> -->
      </div>
    </div>


    <div class="untree_co-section pb-0" id="about-section">
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="col-lg-7 mx-auto text-center author-wrap">
            <img src="../static/images/rohan_logo.jpeg" alt="Image" class="img-fluid rounded-circle mb-3" height = "250" width = "250">
            <h3 class="text-black h5 font-weight-bold mb-2 gsap-reveal-hero">ROHAN MEWATI</h3>
            <Strong><b><p class="gsap-reveal-hero">ARTIST AND PAINTER</p></b></strong>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-7">
            <strong>
              <b>
                <p class="gsap-reveal-hero">Greetings,</p>

                <p class="gsap-reveal-hero">I am a young artist specializing in sketches, paintings, and portraits. If you are interested in acquiring my work, please feel free to reach out to me through this platform.</p>
                
                <p class="gsap-reveal-hero">Far from the hustle and bustle of daily life, my art is inspired by the serene landscapes and tranquil moments of life. Each stroke of my brush or pencil captures the essence of emotion and beauty.</p>
                
                <p class="gsap-reveal-hero">I take pride in creating pieces that resonate with individuals on a personal level. Whether you seek a custom portrait or wish to explore my existing collection, I am dedicated to providing you with artwork that speaks to your soul.</p>
                
                <p class="gsap-reveal-hero">Feel free to connect with me to discuss your artistic needs and preferences. I look forward to the opportunity to collaborate and create something truly special together.</p>
                
                <p class="gsap-reveal-hero">For inquiries about commissions, pricing, or any other questions, don't hesitate to send me a message. Your satisfaction is my priority, and I am committed to exceeding your expectations.</p>
                
                <p class="gsap-reveal-hero">Thank you for considering my artistry. I can't wait to embark on this creative journey with you!</p>
              </b>   
            </strong>
          </div>
        </div>
      </div>
    </div>


    <div class="untree_co-section pb-0" id="services-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Services</strong></h2>
            <p class="gsap-reveal-hero">The Big Oxmox advised her not to do so, because there were thousands of bad Commas.</p>
            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="../static/images/svg/service-icon-7.svg" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Marketing</h3>
              <p class="gsap-reveal-hero">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="../static/images/svg/service-icon-6.svg" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Photography</h3>
              <p class="gsap-reveal-hero">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="../static/images/svg/service-icon-1.svg" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Web Design</h3>
              <p class="gsap-reveal-hero">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>


          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="../static/images/svg/service-icon-8.svg" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">App Development</h3>
              <p class="gsap-reveal-hero">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="../static/images/svg/service-icon-4.svg" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Search Ranking</h3>
              <p class="gsap-reveal-hero">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="../static/images/svg/service-icon-5.svg" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Branding</h3>
              <p class="gsap-reveal-hero">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="untree_co-section pb-0">
      <div class="container">
        <div class="row mb-4">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>My Skillset</strong></h2>
            <p class="gsap-reveal-hero">The Big Oxmox advised her not to do so, because there were thousands of bad Commas.</p>
            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="0">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="98">
                <div class="number"></div>
                <p class="caption">WordPress</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="95">
                <div class="number"></div>
                <p class="caption">Web Design</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="200">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="89">
                <div class="number"></div>
                <p class="caption">Web/Mobile App</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="300">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="85">
                <div class="number"></div>
                <p class="caption">Photoshop</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="untree_co-section testimonial-wrap">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Testimonials</strong></h2>
            <p class="gsap-reveal-hero">What clients say...</p>

            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>


        <div data-aos="fade-left" data-aos-delay="200">



          <div class="owl-carousel owl-3-slider">
            <div class="item">
              <div class="testimonial-v1">
                <img src="../static/images/person_1.jpg" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>James Smith</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>
            <!-- END .item -->

            <div class="item">
              <div class="testimonial-v1">
                <img src="../static/images/person_2.jpg" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>Jenny Wilson</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>
            <!-- END .item -->

            <div class="item">
              <div class="testimonial-v1">
                <img src="../static/images/person_3.jpg" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>Dan Anderson</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>
            <!-- END .item -->

            <div class="item">
              <div class="testimonial-v1">
                <img src="../static/images/person_1.jpg" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>James Smith</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>
            <!-- END .item -->
          </div>
        </div>
      </div>
    </div>

    <div class="untree_co-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Blog Posts</strong></h2>
            <p class="gsap-reveal-hero">News &amp; Updates</p>

            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff" stroke-width="2"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="../static/images/gal_1.jpg" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="../static/images/gal_2.jpg" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="../static/images/gal_3.jpg" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="../static/images/gal_4.jpg" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="untree_co-section" id="contact-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Contact me</strong></h2>
            <p class="gsap-reveal-hero">Feel free to get in touch</p>

            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-9">
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
            <form action="{{url_for('contact')}}" method = "POST" class="contact-form">
              {% if mail_flash %}
                <p style="color: #008000; /* Green color for success message */
                font-size: 16px; /* Larger font size */
                font-weight: bold; /* Bold text */
                background-color: #e6ffe6; /* Light green background color */
                padding: 10px; /* Padding around the success message */
                border-radius: 5px; /* Rounded corners */
                border: 1px solid #99ff99; /* Border around the success message */
                margin-bottom: 10px; /* Margin below the success message */">
                    {{ mail_flash}}
                </p>
              {% endif %}
              {% from "bootstrap5/form.html" import render_form %} 
              {{ render_form(contact_form) }}

            </form>
              <strong><b>Follow me on <a href = "https://www.instagram.com/rohan__arts?igsh=b21yZ3gxN3VxbnZj"><img src = "../static/images/website_icon/insta_svg.svg" height = "50" width = "50" /></a> !!</b></strong>
          </div>
        </div>
      </div>
              
    </div>

    

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>


{% include "footer.html" %}
   