{% include "header.html" %}

  <div class="untree_co-section untree_co-section-4 pb-0"  id="portfolio-section">
    <div class="container">
      <div class="portfolio-single-wrap unslate_co--section" id="portfolio-single-section">

        <div class="portfolio-single-inner">
          <h2 class="heading-portfolio-single-h2 text-black">Slider Portfolio Details</h2>

          <div class="row justify-content-between mb-5">
            <div class="col-12 mb-4">
              <div class="owl-carousel single-slider">
                <figure class="mb-4">
                  <img src="images/portfolio_1.jpg" alt="Image" class="img-fluid">
                </figure>
                <figure class="mb-4">
                  <img src="images/portfolio_2.jpg" alt="Image" class="img-fluid">
                </figure>
              </div>
            </div>
            <div class="col-12 my-5">
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                  <div class="detail-v1">
                    <span class="detail-label">Project Date</span>
                    <span class="detail-val">March 9th, 2020</span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                  <div class="detail-v1">
                    <span class="detail-label">Role</span>
                    <span class="detail-val"><a href="#">Identity</a>, <a href="#">Web Design</a></span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                  <div class="detail-v1">
                    <span class="detail-label">Client</span>
                    <span class="detail-val">Untree.co</span>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                  <div class="detail-v1">
                    <span class="detail-label">Visit</span>
                    <span class="detail-val"><a href="https://untree.co">https://untree.co/</a></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
            <div class="col-md-6">
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="site-footer">
    <div class="container">

      <div class="row">
        <div class="col-lg-3">
          <div class="widget">
            <h3>Home</h3>
            <ul class="list-unstyled float-left links">
              <li><a href="#">Untree.co</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

        <div class="col-lg-3">
          <div class="widget">
            <h3>Projects</h3>
            <ul class="list-unstyled float-left links">
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
              <li><a href="#">Untree.co</a></li>
              <li><a href="#">Free Templates</a></li>
              <li><a href="#">WordPress Themes</a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

        <div class="col-lg-3">
          <div class="widget">
            <h3>Services</h3>
            <ul class="list-unstyled float-left links">
              <li><a href="#">Untree.co</a></li>
              <li><a href="#">jQuery</a></li>
              <li><a href="#">Bootstrap</a></li>
              <li><a href="#">Freebies</a></li>
            </ul>
          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->


        <div class="col-lg-3">
          <div class="widget">
            <h3>Contact</h3>
            <address>43 Raymouth Rd. Baltemoer, London 3910</address>
            <ul class="list-unstyled links mb-4">
              <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
              <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
              <li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
            </ul>

            <h3>Connect</h3>
            <ul class="list-unstyled social">
              <li><a href="#"><span class="icon-instagram"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-pinterest"></span></a></li>
              <li><a href="#"><span class="icon-dribbble"></span></a></li>
            </ul>

          </div> <!-- /.widget -->
        </div> <!-- /.col-lg-3 -->

      </div> <!-- /.row -->





      <div class="row mt-5">
        <div class="col-12 text-center">
          <p class=" mb-0">&copy; 2020. All Rights Reserved. Design by <a href="https://untree.co/" target="_blank" class=""><strong>Untree.co</strong></a> Distributed By <a href="https://themewagon.com">ThemeWagon</a> </p>
          <p class="">
            <span class="mx-2">Twitter <a href="https://twitter.com/untree_co">@Untree_co</a></span>
            <span>&bullet;</span>
            <span class="mx-2">Facebook <a href="https://web.facebook.com/Untree.co">@Untree.co</a></span>
          </p>

        </div>
      </div>
    </div> <!-- /.container -->
  </div> <!-- /.site-footer -->

  {% include "footer.html" %}